<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-12">
            <h1 class="text-center">¡HOTELES <i class="bi bi-flower1"></i> FLORK!</h1>
            <p class="text-center">Nuestro hotel contiene todo tipo de servicios para que cualquier persona pueda disfrutarlo, se tienen grandes cuartos oara que nuestros clientes puedan disfrutar de la mayor comodidad cuando estén en sus viajes, desde piscinas en la habitación hasta servicio al cuarto durante toda la estadia. ¿Qué esperas para venir a los Hoteles <i class="bi bi-flower1"></i> Flork? </p>
        </div>  
        
    </div>
    
</div>


<div class="container-fluid mt-5"  id="servicios">
  <div class="row">
    <h2 class="text-center">SERVICIOS</h2>
    <div class="col-3">
        <img src="../../assets/img/comida.jpg" alt="" class="w-100">
        <h4 class="text-center">Bufét</h4>
    </div>
    <div class="col-3">
        <img src="../../assets/img/piscinas.jpg" alt="" class="w-100">
        <h4 class="text-center">Recreación</h4>
    </div>
    <div class="col-3">
        <img src="../../assets/img/service.jpg" alt="" class="w-100">
        <h4 class="text-center">Servicio al Cliente</h4>
    </div>
    <div class="col-3">
        <img src="../../assets/img/sala-reunion.jpg" alt="" class="w-100">
        <h4 class="text-center">Conferencias</h4>
    </div>
</div>
</div>

<div class="container">
    <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Servicio</th>
                <th scope="col">Descripción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Limpieza de habitación</td>
                <td>Nuestro Hotel cuenta con el servicio de limpieza para las habitaciones todos los días mientras nuestros clientes disfrutan de nuestros otros servicios.</td>
              </tr>
              <tr>
                <td>Desayuno</td>
                <td>En nuestros comedores tenemos delicioso buféts para que disfrutes desde el primer momento del día todo lo que tenemos para ofrecerte.</td>
              </tr>
              <tr>
                <td>Estacionamiento</td>
                <td>Contamos con un amplio estacionamiento para que puedas disfrutar de nuestro hotel sin preocuparte por el bien de tus automóviles.</td>
              </tr>
              <tr>
                <td>Cooworking</td>
                <td>Contamos con varios espacios donde es cómodo para trabajar mientras disfrutes de la estadía de nuestro hotel.</td>
              </tr>
              <tr>
                <td>Piscinas</td>
                <td>Contamos con alta variedad de piscinas para que puedas disfrutar de tu estadía en nuestro hotel.</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

<div class="container-fluid mt-5">
  <h2 class="text-center"><i class="bi bi-geo-alt"></i>¡Estamos Ubicados en la ciudad de Medellín!<i class="bi bi-geo-alt"></i></h2>
  <div class="row">
    <div class="col-12 col-md-12">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63458.359608654675!2d-75.61623098308031!3d6.24428761571938!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4428dfb80fad05%3A0x42137cfcc7b53b56!2sMedell%C3%ADn%2C%20Antioquia!5e0!3m2!1ses-419!2sco!4v1665669097901!5m2!1ses-419!2sco" class="w-100" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
   </div>
  </div>
</div>