<div class="container">
    <div class="row">
        <div class="col-12 col-md-12">
            <h1 class="text-center">¡HOTELES FLORK!</h1>
            <p>Nuestro hotel contiene todo tipo de servicios para que cualquier persona pueda disfrutarlo, se puede </p>
        </div>
        
    </div>
    <div class="row">
        
        <h3 class="text-center">SERVICIOS</h3>
        <div class="col-3">
            <img src="../../assets/img/comida.jpg" alt="" class="w-100">
        </div>
        <div class="col-3">
            <img src="../../assets/img/piscinas.jpg" alt="" class="w-100">
        </div>
        <div class="col-3">
            <img src="../../assets/img/service.jpg" alt="" class="w-100">
        </div>
        <div class="col-3">
            <img src="../../assets/img/sala-reunion.jpg" alt="" class="w-100">
        </div>
    </div>
    <div class="row">
        <h3 class="text-center">HABITACIONES</h3>
        <div class="col-3">
            <img src="../../assets/img/comida.jpg" alt="" class="w-100">
        </div>
        <div class="col-3">
            <img src="../../assets/img/piscinas.jpg" alt="" class="w-100">
        </div>
        <div class="col-3">
            <img src="../../assets/img/service.jpg" alt="" class="w-100">
        </div>
        <div class="col-3">
            <img src="../../assets/img/sala-reunion.jpg" alt="" class="w-100">
        </div>
    </div>
</div>