
<footer>
    <div class="footer-container bg-dark text-white text-center mt-5">
        <div class="footer-content-container">
            <h3 class="website-logo">Hoteles <i class="bi bi-flower1"></i> Flork</h3>
            <br>
            <span class="footer-info">123456556</span><br>
            <span class="footer-info">soporte@flork.com</span>

        </div>
        <div class="footer-menus ">
            <div class="footer-content-container">
                <span class="menu-title">legal</span><br>
                <a href="" class="menu-item-footer">Privacy Policy</a><br>
                <a href="" class="menu-item-footer">Cookies</a><br>
               
                
            </div>
        </div>

    </div>
    <div class="copyright-container bg-black text-white text-center p-2">
        <span class="copyright">@2022, Hoteles <i class="bi bi-flower1"></i> Flork. Todos los derechos reservados.</span>
    </div>
</footer>